body {
font-family: 'Open Sans', sans-serif;
font-size:14px;
}
header {
	height:50px;
	width:100%;
	display:block;
}
#whitespace {
display: inline-block;
//border:1px solid yellow;
height:20px;
}
#redspace {
	height:20px;
	display:inline-block;

	background-color:#FF3300;
	//border: 1px solid pink;
}

		.contact_name {
		    font-family:'Open Sans', sans-serif;
		    font-size:20px;
		    weight:bold;
		    text-align:center;

		}
		#headshot {
				text-align:center;
		    border-radius:50px;
		    width:50px;
		    display:block;
		    margin:0 auto;
		}

	.left {
		position:fixed;
		float:left;
		    width:19%;
				//border: 1px solid red;
		     display:block;
		    //height:auto;

		}

.right {
		    display:block;
		    width:79%;
		//    border:1px solid blue;
				float:right;
		}


		.contact {
		  //border:1px solid green;
		  display:block;
		  width:100%;
		  text-align:center;
		}

ul {
	list-style-type: none;

}
p, ul {
	 margin-top:0px;
}
h2{
	text-transform: uppercase;
	font-weight:400;
margin-bottom:0px;
	font-size:2em;
}

.titile {
	font-weight:bold:
}

.Institution {
	font-weight:bold;
}
.date {
	font-style: italic;
	font-size:0.90em;
	margin-left:2%;
}
